@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Skills Base</h1>
    <p class="lead">
        Platform for understanding you employees better.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track your employee skills</h2>
        <p>
            Get to know your employees better. Find employees with necessary skills.  
        </p>
        <a href="~/employees">Continue</a>
    </div>
    <div class="col-md-4">
        <h2>Manage knowledge base and usrers</h2>
        <p>Add and update knowledge domains. Manage user roles.</p>
        <a href="~/domains">Continue</a>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Graphical representation of your knowledge base (in development)</p>
        <a href="~/reports/statistics">Continue</a>
    </div>
</div>